/* css reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* google fonts */


/* header section */
nav{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}



select{
    border: none;
    outline: none;
  }
  .text-orange{
    color:rgba(255, 153, 0, 1);
  }
  .text-bg-orange{

    background-color:rgba(255, 153, 0, 1);
  }
/* main section 1 */
.right{
    width: 593px;
    height: 750px;
    box-shadow: 2px 2px 10px 2px #e9e7e7;
    z-index: 1;


}
.left{

    margin-left: 8em;
}
.hero-img{
    width: 100%;
    
}
.hero-img-fab{
    position: relative;
    bottom: 45em;
    left: 1.5em;

    
}
.text-white-gray{
    color:#c5c1c1;
}
/* section-2 */

.section-2{
    width: 100%;
    height: 1590px;
    background-color:rgba(245, 248, 250, 1);
    position: relative;
    bottom: 10em;
}
h5{
    margin-top: 8em;
}
.box-1,.box-2,.box-3{
    width: 312px;
    height: 333px;
}
.line-height{
    line-height: 28px;
    max-height:130px ;
}
/* section 3 */
.section-3-img-box-1{
    width:1009px ;
    height:584px ;
    position: relative;
    top: 28em;
    background-image: url("images/Vector-box-img.png");

}

.section-3-img-box-2{
    width: 478px ;
    height:662px ;
    position: relative;
  bottom: 2em;
  left: 45em;

   
}
.section-3-cnt{
    margin-left: 12em;
 padding-top: 7em;
}
.section-3-text-p{
    color: #e2dddd;
    
    
   
}
.lineheight{
    line-height: 35px;
}
.section-3-select{
    margin-top: 8em;
    
    background-color: transparent;

    
}
.line{
   
    width: 444px;
 
    z-index: 1;
 border-bottom: solid rgb(136, 134, 134) 2px;
 opacity: .2;
 position: relative;
 top: 6em;
}
/* footer */
.footer{
    height: 304px;
    background-color: rgba(38, 54, 64, 1);
    margin-top: 25em;
   
.footer-box{
    border-bottom: solid rgb(112, 110, 110) 1px;
    padding-bottom: 4em;
    font-family: url(dinpro_condensedlight;
}

}